:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #fff;
  --dairy: #fcfcfc;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--slat);
  font-size: 16px;
  background-color: var(--white);
  letter-spacing: 0.02em;
  line-height: 1.5;
}
a {
  text-decoration: none;
  color: var(--navy-blue);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
address {
  font-style: normal;
}
img {
  display: block;
}
/* common */
.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* #region PAGE-HEADER */
.page-header {
  width: 100%;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
  background: var(--white);
  max-width: 1440px;
  margin: 0 auto;
}
.page-header .container {
  display: flex;
  align-items: center;
}
.page-header-nav {
  display: flex;
  align-items: center;
}
.header-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.contacts-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}
.header-logo {
  margin-right: 76px;
  padding: 24px 0;
}

.header-logo .logo-part {
  color: var(--navy-blue);
}
.header-link.current {
  position: relative;
}
.header-link.current::after {
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  position: absolute;
  left: 0;
  bottom: -1px;
  background-color: var(--ocean);
}

.header-link {
  font-weight: 500;
  padding: 24px 0;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts {
  margin-left: auto;
}
.contacts-link {
  font-weight: 400;
  color: var(--slate);
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link:hover,
.header-link:focus,
.header-link.current,
.contacts-link:hover,
.contacts-link:focus {
  color: var(--ocean);
}
/* #endregion PAGE-HEADER */
/* ------------MAIN----------------- */
/*#region section hero*/
.section {
  width: 100%;
}
.hero {
  padding: 188px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);

  /* background-image: linear-gradient(var(--grey), var(--grey)),
    url(/images/people-office.png); */
  max-width: 1440px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  color: var(--white);
  letter-spacing: 0.02em;
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
}
.hero-btn {
  display: block;
  margin-top: 48px;
  margin-left: auto;
  margin-right: auto;
  min-width: 169px;
  height: 56px;
  background-color: var(--iris);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  cursor: pointer;
  letter-spacing: 0.04em;
  padding: 16px 32px;
  border-radius: 4px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: var(--ocean);
}

/* #endregion section hero*/

/* #region section advantages */
.advantages {
  padding: 120px 0;
}
.advantages-item-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: var(--cloud);
  margin-bottom: 8px;
  border: 1px solid var(--light-slate);
  border-radius: 4px;
}

.subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--navy-blue);
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.text {
  font-weight: 400;
}
.advantages .text {
  text-align: left;
}
.advantages-list {
  display: flex;
  gap: 24px;
  align-items: flex-start;
  /* justify-content: center; */
}
.advantages-item {
  width: calc((100% - 72px) / 4);
}
/* #endregion section advantages */

/* #region section team */
.team {
  background-color: #f4f4fd;
  padding: 120px 0;
  max-width: 1440px;
  margin: 0 auto;
}
.team-title {
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  gap: 24px;
}

.team-item {
  background-color: var(--white);
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.team-item:first-child {
  width: calc((100% - 72px) / 4);
}
.card-team-text {
  padding: 32px 0;
}
.card-team-text .subtitle {
  text-align: center;
  margin-bottom: 8px;
}
.card-team-text .text {
  margin-bottom: 8px;
}
.card-team-icons {
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: center;
}
.card-team-icons-link {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--iris);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icons {
  fill: var(--cloud);
}
.card-team-icons-link:hover,
.card-team-icons-link:focus {
  background-color: var(--ocean);
}

.team-title,
.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  color: var(--navy-blue);
  text-transform: capitalize;
  letter-spacing: 0.02em;
}

.team-item .subtitle,
.team-item .text {
  text-align: center;
}
/* #endregion section team*/

/* #region portfolio section */
.portfolio {
  padding: 120px 0;
}
.portfolio-title {
  margin-bottom: 72px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}
.portfolio-item {
  width: calc((100% - 48px) / 3);
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: var(--white);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item img {
  width: 100%;
}
.portfolio-item-overlay {
  position: relative;
  overflow: hidden;
}
.overlay-text {
  background-color: var(--iris);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud);
  padding: 40px 32px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item-overlay:hover .overlay-text {
  transform: translateY(0);
}
.card-portfolio-text {
  padding: 32px 16px;
  text-align: left;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.card-portfolio-text .text {
  text-align: left;
}

/* #endregion portfolio section*/

/* #region FOOTER */
.page-footer {
  padding: 100px 0;
  background-color: var(--navy-blue);
  max-width: 1440px;
  margin: 0 auto;
}
.footer-container {
  display: flex;
  align-items: baseline;
}
.footer-logo .logo-part {
  color: #f4f4fd;
}
.footer-logo {
  margin-bottom: 16px;
  display: inline-block;
}
.footer-text {
  color: #f4f4fd;
  width: 264px;
}
.footer-content {
  margin-right: 120px;
}
.footer-social-text {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white);
}
.footer-icons {
  gap: 16px;
}
.footer-icons .card-team-icons-link:hover,
.footer-icons .card-team-icons-link:focus {
  background-color: var(--green);
}
.footer-social-icons {
  margin-right: 80px;
}
.footer-subscribe-wrapper {
  display: flex;
  gap: 24px;
}
.footer-subscribe-input {
  border: 1px solid var(--white);
  border-radius: 4px;
  padding: 8px 16px;
  width: 264px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: transparent;
  outline: none;
  color: var(--white);
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
}
.footer-subscribe-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: var(--white);
}

.footer-subscribe-btn {
  background: var(--iris);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: var(--white);
  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  cursor: pointer;
}

.subscribe-icon {
  fill: var(--white);
  margin-left: 16px;
}
.footer-subscribe-btn:hover,
.footer-subscribe-btn:focus {
  background-color: var(--ocean);
}
/* #endregion FOOTER */

/* #region modal-backgrop */
.backdrop {
  position: fixed;
  top: 0;
  z-index: 9999999;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  width: 408px;
  min-height: 584px;
  background-color: var(--dairy);
  padding: 72px 24px 24px 24px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-open {
  visibility: visible;
  pointer-events: auto;
  opacity: 1;
}
.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 24px;
  height: 24px;
  line-height: 0;
  padding: 0;
  border-radius: 50%;
  fill: var(--cornflower);
  stroke-width: 1px;
  stroke: rgba(0, 0, 0, 0.1);
  background-color: var(--cornflower);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-icon {
  fill: var(--navy-blue);
  stroke: var(--navy-blue);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: var(--ocean);
  border: none;
}
.modal-close-btn:hover > svg,
.modal-close-btn:focus > svg {
  stroke: var(--white);
  fill: var(--white);
}
.modal-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--navy-blue);
  margin-bottom: 16px;
}

.form-wrraper-cont {
  margin-bottom: 8px;
}

.modal-form-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slate);
  margin-bottom: 4px;
  display: block;
}

.modal-form-input {
  background-color: transparent;
  border: 1px solid var(--navy-blue-modal);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  outline: transparent;
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-cont-input {
  position: relative;
}

.modal-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  fill: var(--navy-blue);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input:focus {
  border-color: var(--iris);
}
.modal-form-input:focus + .modal-icon {
  fill: var(--iris);
}
.comment-container {
  margin-bottom: 16px;
}
.modal-textarea {
  padding: 8px 16px;
  height: 120px;
  resize: none;
  color: var(--navy-blue);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}
.modal-textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: var(--navy-blue-modal);
}
.modal-cont-checkbox {
  margin-bottom: 24px;
}
.modal-cont-checkbox-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slate);
  cursor: pointer;
}
.custom-checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid var(--navy-blue-modal);
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: transparent;
}
.modal-icon-checkbox.custom-checkbox {
  fill: var(--cloud);
}
.privacy-policy {
  line-height: 1.33;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: var(--iris);
}

.checkbox:checked + .modal-cont-checkbox-label > .custom-checkbox {
  border-color: transparent;
  background-color: var(--ocean);
  border: none;
  fill: var(--cloud);
}
.submit-btn {
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: var(--white);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: var(--iris);
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  margin: 0 auto;
  display: block;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.submit-btn:hover,
.submit-btn:focus {
  background-color: var(--ocean);
}
/* #endregion modal-backgrop */
